.main-picture-top {
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    overflow: hidden;
}

.main-picture-top>h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 400%;
    color: var(--logoColorFive);
    z-index: 10;
}

.main-picture-container-element {
    z-index: 0;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    border-radius: 15px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 2vh;
}

input,
textarea {
    width: 90%;
    margin: 1vh;
    padding: 1vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

textarea {
    resize: vertical;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 1vh;
    padding: 1vh;
    min-width: 92.5%;
    font-size: 120%;
    border: none;
    background-color: var(--logoColorOne);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--logoColorTwo);
    transition: 0.9s;
    -webkit-transition: 0.9s;
}

.main>* {
    font-size: 150%;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contact Info Section */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0;
}

.contact-email-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 120%;
    color: var(--lightMain);
    margin: 0 0 1vh 0;
}

.contact-email {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 150%;
    color: var(--logoColorTwo);
    text-decoration: none;
    padding: 1vh 2vw;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.contact-email:hover {
    background-color: var(--logoColorTwo);
    color: white;
}

.contact-form-intro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 120%;
    color: var(--lightMain);
    margin: 2vh 0;
}

@media all and (max-width: 1200px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-picture-top {
        height: 25vh;
    }

    .main>* {
        font-size: 100%;
        color: black;
        text-decoration: none;
    }

    .main-picture-top>h1 {
        font-size: 300%;
    }

    .contact-div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    form {
        width: 80%;
    }

    .contact-info {
        margin: 3vh 0;
    }

    .contact-email-label {
        font-size: 100%;
    }

    .contact-email {
        font-size: 120%;
    }

    .contact-form-intro {
        font-size: 100%;
    }
}