body{
  margin: 0;
}

.nav{
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid black;
}

.nav-link{
  text-decoration: none;
  color: #000000;
  font-size: 200%;
  font-family: Gotham htf;
}

.main-picture-top{
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/top_picture.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-picture-top > *{
  font-family: Gotham Black;
  font-size: 1000%;
  color: #ffffff90;
}

.footer{
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
}

.footer-right, .footer-left{
  display: flex;
  flex-direction: column;
}
