
.scroll-section{
  width: 100%;
  overflow-x: hidden;
}

#scroll-container{
  width: 300%;
  height: 80vh;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.scroll-item{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
}

.scroll-item-text-section{
  padding: 3vh;
  width: 40%;
}

.scroll-item-text-section > p{
  font-size: 120%;
}

.scroll-item-text-section > h2{
  font-size: 200%;
}

.scroll-item-one{
  background-image: url(../src/gradient.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-item-two{
  background-image: url(../src/kw-corpde.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
.scroll-item-three{
  background-image: url(../src/trea_startup_page.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-buttons{
  display: flex;
  justify-content: space-between;
}

.slide-button{
  width: 50%;
  height: 10vh;
  box-sizing: border-box;
  border: none;
  font-family: gotham-black;
  font-size: 250%;
  background-color: white;
}

.dark-portfolio-text{
  color: black;
}

.light-portfolio-text{
  color: rgb(255, 255, 255);
}

/* .slide-button:hover{
  background-color: #b0b0b0;
  -webkit-transition: 0.9s;
} */

.slide-left-button:hover{
  background-image: linear-gradient(90deg, #999999 0%, #ffffff 100%);
  -webkit-transition: 0.9s;
}

.slide-right-button:hover{
  background-image: linear-gradient(-90deg, #999999 0%, #ffffff 100%);
  -webkit-transition: 0.9s;
}


.arrow {
  border: solid #333333;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 15px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.comment-section{
  width: 100%;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comment{
  width: 90vw;
  min-height: 10vh;
  border-bottom: black 2px solid;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  padding: 1vh;
}


@media all and (max-width: 1200px) {
  .scroll-item-text-section{
    width: auto;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);;
  }

  .scroll-item-text-section > p{
    font-size: 100%;
  }

  #scroll-container{
    height: 60vh;
  }

  .scroll-item{
    height: 100%;
  }
}
