.main {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1vh;
    margin-top: 5vh;
    font-size: 500%;
    text-align: center;
    font-family: gotham-htf;
    color: var(--logoColorOne);
}

.services-block {
    padding: 2vh;
    margin: 1vh;
    width: 30%;
    border-radius: 0.5vh;
    -webkit-transition: 0.5s;
}

.services-block:hover {
    width: 40%;
    -webkit-transition: 0.5s;
}

@media all and (max-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main>p {
        font-size: 250%;
    }
    .main>h1 {
        font-size: 400%;
    }
}