.main > *{
  width: 90%;
}

.main{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 1200px) {
  .main > *{
    width: 95%;
  }

  .main > p{
    font-size: 250%;
  }

  .main > h1{
    font-size: 400%;
  }
}
