@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

:root {
  --accent: #ffa70f;
  --lightMain: #545454;
  --logoColorOne: #264653;
  --logoColorTwo: #2a9d8f;
  --logoColorThree: #e9c46a;
  --logoColorFour: #f4a261;
  --logoColorFive: #e76f51;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

/* Accessibility: Screenreader-only content */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}