body{
  margin: 0;
}

.nav{
  width: 100%;
  background-color: red;
  height: 5vw;
  display: flex;
  justify-content: space-around;
}

.footer{
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
}

.footer-right, .footer-left{
  display: flex;
  flex-direction: column;
}
