

body{
  overflow: hidden;
}

#bg{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(90deg, #a2d7e5, #59a1d9);
  width: 100vw;
  height: 100vh;

}

#main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#gradientNameH1{
  font-size: 600%;
  font-family: Gotham Black;
  color: #ffffff30;
}


.colors{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.colors > h2{
  font-size: 125%;
  /* font-family: Gotham htf; */
  font-family: Noto Sans;
  color: #ffffff;
}

button{
  background: None;
  border: None;
  color: #ffffff60;
  font-size: 200%;
  font-family: Gotham Black;
}
